div #form {
    text-align: center;
}

#form h1 {
    margin: 15px;
}

.budgetForm {
    display: flex;
    flex-direction: column;
}

#detailsHeader {
    display: block;
}

.budgetForm>* {
    display: grid;
    grid-template-columns: 150px 200px;
    margin-bottom: 10px;
    justify-content: center;
}

.submit {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.inputValidation {
    list-style: none;
    text-align: left;
}
  